################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pwcProject/bin/Debug/netcoreapp3.1
/.vs/pwcProject
/pwcProject/obj
